extends layout

block content
  .page-header
    h3 Submit a Tour Request

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
     label(class='col-sm-2 control-label', for='name') Tour Date
     .col-sm-8
       input.form-control(type='date', name='date', id='date', autofocus=true, required)
    .form-group
     label(class='col-sm-2 control-label', for='name') Tour Time
     .col-sm-8
       input.form-control(type='time', name='time', id='time', autofocus=true, required)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true, required)
    .form-group
      label(class='col-sm-2 control-label', for='email') Email
      .col-sm-8
        input.form-control(type='text', name='email', id='email', required)
    .form-group
      label(class='col-sm-2 control-label', for='message') Notes & Comments
      .col-sm-8
        textarea.form-control(name='message', placeholder="Please include the time you'd like a tour!" id='message', rows='7')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Send