extends layout

block content
  h1 Discover Notman House
  p.lead Visit Montreal's Startup Ecosystem
  hr
  .row
    .col-sm-8
      h2 Guided tours
      p Explore the bustling and historically rich space that is home to the Montreal startup scene with some of the founders and employees who work there around the clock.
      p
      <br/>
        a.btn.btn-default(href='http://localhost:3000/contact', role='button') Book a tour of the house » <br/>
      <br/>
      <br/>
      <br/>
    .col-md-6
    <img src="http://www.projectcredits.com/uploads/project/551420b7abd40/poster/79.jpeg" alt="View of the house from the café entrance" style="width:915px;height:514.5px;" align="middle">
